.userinfo {
  width: 100%;
  text-align: right;
}
.userinfo .nickname {
  color: #eee;
}
.userinfo .btn {
  border: 0;
  background: none;
  color: #eee;
  cursor: pointer;
  padding: 0;
  outline: none;
}
.userinfo .btn:hover {
  color: #999;
}
.userinfo .new-project {
  margin-right: 20px;
}
.userinfo .logout {
  margin-left: 20px;
}