.findPass-form {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: auto;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 30px 30px 0 30px;
}
.findPass-form-button {
  width: 100%;
}
